---
layout: layout.html
title: Browsers
---

<div class="container py-3">
    {% for agent in agents %}
        <div class="d-flex">
            <div class="pr-4 w-25">
                <h5 class="position-sticky" style="top: 0">{{ agent.name }}</h5>
            </div>
            <div class="flex-grow-1">
                <table class="table table-striped">
                    {% for date in agent.dates %}
                        <tr>
                            <td class="w-25">{{ date.number }}</td>
                            <td>{{ date.date | date: "%Y-%m-%d" }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}
</div>
