---
layout: layout.html
title: Features
---

<div class="container py-3">
  <h1>Features</h1>
  <p>This is just a list of features from the database.</p>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>name</th>
        <th>title</th>
        <th>status</th>
        <th>chrome</th>
        <th>android</th>
        <th>firefox</th>
        <th>edge</th>
        <th>safari</th>
        <th>ios</th>
      </tr>
      </thead>
      <tbody>
      {% for item in features %}
      <tr>
        <td>
          <a href="https://caniuse.com/{{ item.name }}">
            {{ item.name }}
          </a>
        </td>
        <td>{{ item.title }}</td>
        <td>{{ item.status }}</td>
        <td class="text-nowrap {% if item.browsers.chrome %}bg-success{% else %}bg-warning{% endif %}">
          <i class="fab fa-fw fa-chrome"></i>
          {{ item.browsers.chrome }}
        </td>
        <td class="text-nowrap {% if item.browsers.and_chr %}bg-success{% else %}bg-warning{% endif %}">
          <i class="fab fa-fw fa-chrome"></i>
          {{ item.browsers.and_chr }}
        </td>
        <td class="text-nowrap {% if item.browsers.firefox %}bg-success{% else %}bg-warning{% endif %}">
          <i class="fab fa-fw fa-firefox"></i>
          {{ item.browsers.firefox }}
        </td>
        <td class="text-nowrap {% if item.browsers.edge %}bg-success{% else %}bg-warning{% endif %}">
          <i class="fab fa-fw fa-edge"></i>
          {{ item.browsers.edge }}
        </td>
        <td class="text-nowrap {% if item.browsers.safari %}bg-success{% else %}bg-warning{% endif %}">
          <i class="fab fa-fw fa-safari"></i>
          {{ item.browsers.safari }}
        </td>
        <td class="text-nowrap {% if item.browsers.ios_saf %}bg-success{% else %}bg-warning{% endif %}">
          <i class="fab fa-fw fa-safari"></i>
          {{ item.browsers.ios_saf }}
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
